<div class="sidebar">
  <div class="textbox">
    <label>Username:</label>
    <div class="display">{{ username }}</div>
  </div>
  <div class="textbox">
    <label>Rank:</label>
    <div class="display">{{ rank }}</div>
  </div>
  <div class="textbox">
    <label>Games Played:</label>
    <div class="display">{{ gamesPlayed }}</div>
  </div>
  <div class="textbox">
    <label>Games Won:</label>
    <div class="display">{{ gamesWon }}</div>
  </div>
  <div class="textbox">
    <label>Games Lost:</label>
    <div class="display">{{ gamesLost }}</div>
  </div>
  <div class="textbox">
    <label>Games Tied:</label>
    <div class="display">{{ gamesTied }}</div>
  </div>
  <button class="sidebar-button">Find Game</button>
  <button class="sidebar-button">Log Out</button>
</div>